*, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    transition: all .5s;
    background-image: linear-gradient(to bottom, var(--color-purple)25%, var(--color-primary)75%, #00000000);

}

/*NavBar*/

nav {
    padding: 10px;
    background-image: linear-gradient(to bottom, var(--color-primary), #00000000);
    transition: all .5s;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

nav ul li {
    list-style: none;
    padding: 5px;
    background-color: #00000000;
    transition: all .5s;
}

nav ul li:hover {
    background-color: var(--color-second);
    color: var(--color-background);
}

.light {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: var(--color-second);
}

/*/NavBar*/

.jinseidle {
    flex-wrap: wrap;
    gap: 10px;
}

.jinseidle .section-text{
    width: 300px;
}

.jinseidle img {
    width: 300px;
    height: 300px;
    background-color: black;
    border: 5px solid var(--color-purple);
    border-radius: 10px;
}

